# fly.toml app configuration file generated for kor-constructions-3laaxg on 2025-12-25T21:28:56Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kor-constructions-3laaxg'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

# Persistent storage for data files
[[mounts]]
  source = "kor_data"
  destination = "/app/data"
